<!-- Off Canvas Page -->
<div class="offcanvas offcanvas-start" tabindex = "-1" id = "offcanvas" aria-labelledby = "offcanvasLabel">
    <div class="offcanvas-header mb-2">
        <h5 class="offcanvas-title text-white" id = "offcanvasLabel"><u>Contact Us</u></h5>
        <button type = "button" class="btn-close btn-close-white text-reset" data-bs-dismiss = "offcanvas" aria-label = "Close"></button>
    </div>
    <div class= "offcanvas-body p-0 ms-3 text-white">
        <b>Phone: </b> <i>123-456-7890</i> <br><br> 
        <b>Email: </b> <i>placeholder@gmail.com</i> <br><br>
        <b>Facebook: </b> <i>Dominic's Library</i> <br><br>
        <b>Instagram: </b> <i>DominicsLibrary</i> <br><br>
        <b>X: </b> <i>@DominicsLibrary</i> <br><br>
  
        <div class="d-flex justify-content-center mt-auto me-3">
            <img src="/assets/contact-us.jpg" alt="Contact Us" style = "display: block; max-width: 100%; height: auto;">
        </div>
  
        <div class = "container mt-5">
            <div class="row">
                <div class = "col-2 d-flex justify-content-center">
                    Hours:
                </div>
                <div class = "col-4">
                    Sunday <br>
                    Monday <br>
                    Tuesday <br>
                    Wednesday <br>
                    Thursday <br>
                    Friday <br>
                    Saturday <br>
                </div>
                <div class = "col-6 d-flex justify-content-center justify-content-sm-start mb-5">
                    Closed <br>
                    9AM - 8PM <br>
                    9AM - 8PM <br>
                    9AM - 8PM <br>
                    9AM - 8PM <br>
                    9AM - 8PM <br>
                    11AM - 6PM
                </div>
            </div>
        </div>
    </div>
</div>