.filter-tab {
    background-color: #ff6b6b;
    border-left: none !important;
    cursor: pointer;
    box-shadow: 0px 10px 15px black;
}

.filter-tab:hover {
    background-color: #cc5959;
}

.filter-tab:hover .fa-angle-right {
    color: white;
}