<div class = "container-fluid">
    <h2 class="text-center fw-normal text-white mt-4">About Us</h2>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-12 col-md-8 text-center mt-3">
                <img class = "img-fluid" src = "/assets/Library.png" alt = "Picture of Dominic's Library"
                style = "display: block; max-width: 100%; height: auto;">
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-12 text-center text-white mt-4">
                <p class = "fs-5">Welcome to Dominic's Library, your literary haven since 1995. With a passion for 
                    books and a mission to share the joy of reading, we opened our doors over two 
                    decades ago. Today, we boast a vast collection of <b>{{ numberOfBooks }}</b> books spanning various 
                    genres, from classic literature and mystery to science fiction and self-help (Not yet). Our 
                    shelves are brimming with stories waiting to be explored, making us the go-to 
                    destination for avid readers and knowledge seekers alike. Whether you're searching 
                    for your next adventure, studying for exams, or simply seeking a quiet corner to 
                    immerse yourself in a good book, we invite you to join our literary community. 
                    We're not just a library; we're a place where stories come to life, and where 
                    lifelong readers are born. Come visit us today, and embark on your literary 
                    journey with Dominic's Library!
                </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>